<app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
<!-- currency - le pone un formato adecuado para monedas, y le puede poner el valor de la moneda que estamos manejando, como el de 
    Colombia, Perú, etc  -->
<h2>{{ product.price | currency: 'PE' }}</h2>
<!-- reverse - es el pipe que creamos para poner el texto al revés -->
<p>{{ product.title | reverse }}</p>
<!-- appHighlight - es la directiva que creamos -->
<p appHighlight>{{ product.description }}</p>
<button (click)="onShowDetail()">Ver Detalle</button>
<button (click)="onAddToCart()">Add Cart</button>