<app-nav></app-nav>
<button (click)="createUser()">Create user</button>
<!--<button (click)="login()">Login</button>
<button (click)="getProfile()">Get Profile</button> -->
<app-products></app-products>



<!-- <p><input type="text" [(ngModel)]="imgParent"></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg }}</p> -->
<!-- loaded para escuchar el componente en el componente padre -->
<!-- $event - para recibir información que nosotros hemos creado  -->
<!-- Si showImg está en true, mostraremos el componente -->
<!-- <app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr> -->