<!-- Como se va a repetir en todas las páginas se va a mantener en acá -->
<!-- Ahora solo estará en el website para que solo aparezca en esas páginas -->
<!-- <app-nav></app-nav> -->
<!-- router-outlet - Este es el que me va a permitir manejar todo este tipo de renderizado de acuerdo a la ruta -->
<!-- Dependiendo a la ruta vamos a renderizar un componente en específico -->
<!-- Todo lo que se cambiará por las rutas estará acá dentro -->
<router-outlet></router-outlet>

<!-- Ya no traemos acá app-products -->
<!-- <app-products></app-products> -->

<button (click)="createUser()">Create user</button>
<p>
    <a href="../assets/files/texto.txt" download>Descargar</a>
</p>
<p>
    <button (click)="downloadPdf()">Descargar PDF</button>
</p>
<p>
    <input type="file" (change)="onUpload($event)">
    <!-- Vamos a renderizar la imagen -->
    <!-- ngIf - Si inicias en vacio solo muestralo o empieza a renderizar si tienes algo diferente a vacio -->
    <img *ngIf="imgRta" [src]="imgRta">
</p>


